<footer style="background-color: #222328; color: #fff; padding: 40px 20px;">
  <div style="max-width: 1000px; margin: 0 auto; text-align: center;">
    
    <h3 style="font-size: 1.2rem; margin-bottom: 10px;" class="contact-txt">Contact Us</h3>
    <p style="margin: 8px 0;">
      <strong>Phone:</strong> 
      <a href="tel:9412285525" style="color: #e6c238; text-decoration: none;">941-228-5525</a>
    </p>
    
    <p style="margin: 8px 0;">
      <strong>Email:</strong> 
      <a href="mailto:info@moldinspection247.com" style="color: #e6c238; text-decoration: none;">info@moldinspection247.com</a>
    </p>

    <p style="margin: 8px 0;"><strong>Serving:</strong> All of Florida (And All 50 States)</p>

    <p style="margin: 16px 0;">
      <a href="https://geriskmanagement.com/" target="_blank" style="color: #4b3da0;; text-decoration: underline;">Visit our partner site</a>
    </p>

    <p style="margin-top: 30px; font-size: 0.85rem;">&copy; {{ now.Format "2006" }} Mold Inspection 24/7. All rights reserved.</p>
  </div>
</footer>

<style>
  body {
    font-family: 'Poppins', sans-serif;
  }

  footer a:hover {
    text-decoration: underline;
  }

  .contact-txt {
    color: #FFF;
  }
</style>
