$light: #fff;
$primary-color: #4B3DA0; //#312291; // rgb(209, 171, 26); // #d1ab1a;
// $primary-color: #13b1cd;
$secondary-color: #f5f8f9;
$event-color: #c54041;
$law-color: #b99769;
$black: #242424;
$border-color:#dedede;
$primary-font:'Montserrat', sans-serif;
$secondary-font:'Poppins', sans-serif;
$extra-font:'Hind', serif;
$tertiary-color: #d1ab1a // #cf9ed7 // #581A8D; //#1C4A8A;;