:root {
    --color-background: #EFF7F6;  /* light, for backgrounds */
    --color-primary-dark: #222328; /* dark slate blue, great for headings */
    --color-primary: #4281A4;      /* medium blue, main brand color */
    --color-primary-light: #6BB4DB; /* lighter blue, accents, hover */
    --color-accent: #e6c238;       /* bright orange/red, for calls to action */
    --color-text: #222328;          /* text color matching primary-dark */
    --color-white: #ffffff;         /* white */
  }

  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
  }
  



  body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Outfit', sans-serif;
  }
  
  h2, h3 {
    color: var(--color-primary-dark);
  }
  
  a {
    color: var(--color-primary);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--color-primary-light);
  }
  
  

.main {
    margin: 0;
    max-width: 100%;
    padding: 0;
  }
  

.page-header h1 {
    font-size: 40px;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}


.social-icons a {
    display: inline-flex;
    padding: 10px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}
