{{ partial "hero" . }}
<section class="section-sm blog-wrap bg-gray pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8" data-pagefind-body>
        <div class="single-blog-item">
          <div class="blog-item-content bg-white p-5">
            {{ .Content }}
          </div>
          {{ if .IsSection }}
            {{ if .Pages }}
              <div class="mt-4">
                <h4 class="text-capitalize px-5 py-3">Related Services</h4>
                {{ range .Pages }}
                  <a href="{{ .RelPermalink }}" class="d-block bg-white mb-3 px-5 py-3">
                    {{ .Title }}
                  </a>
                {{ end }}
              </div>
            {{ end }}
          {{ else if .Parent }}
            {{ $current := .Permalink }}
            {{ if .Parent.Pages }}
              <div class="mt-4">
                <h4 class="text-capitalize  px-5 py-3">Related Services</h4>
                {{ range .Parent.Pages }}
                  {{ if ne .Permalink $current }}
                    <a href="{{ .RelPermalink }}" class="d-block bg-white mb-3 px-5 py-3">
                      {{ .Title }}
                    </a>
                  {{ end }}
                {{ end }}
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="col-lg-4">
        <div class="p-5 bg-white">
          <h4 class="text-capitalize mb-4">All Services</h4>
          <ul class="list-unstyled footer-menu mb-35">
            {{ range (index .Site.Data.footer.column 0).items }}
              <li class="mb-1">{{ partial "utilities/link.html" . }}</li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>